[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gitpython = "*"
click = "*"
python-slugify = "*"
marko = "*"
tabulate = "*"

[dev-packages]
black = "*"
gira = {editable = true, path = "."}
isort = "*"
mypy = "*"
types-tabulate = "*"
types-python-slugify = "*"

[requires]
python_version = "3.9"
